<!---<div class="row" class="#ffffff white">
<nav >
  <div class="nav-wrapper #689f38 light-green darken-2 col s12" style="border:1px solid black ;margin-top: -2.5%; ">
    <a href="#" class="brand-logo right ">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down ">
      <li><a href="sass.html">Home</a></li>
      <li><a href="badges.html">League</a></li>
      <li><a href="collapsible.html">Tournament</a></li>
    </ul>
  </div>
</nav>
</div> -->

<div class="container" class="#ffffff white">
  <nav >
    <div class="nav-wrapper #689f38 light-green darken-2 col s12" style="border:1px solid black ;margin-top: -2.5%; ">
      <a href="#" class="brand-logo right ">FIFA 2019</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down ">
        <li class="cursive"><a href="sass.html">Home</a></li>
        <li class="cursive"><a href="badges.html">League</a></li>
        <li class="cursive"><a href="collapsible.html">Tournament</a></li>
      </ul>
    </div>
  </nav>


</div>